- if issues && issues.any?
  %table.list.issues
    %thead
      %tr
        %th= "#"
        %th=l(:field_subject)
        %th=l(:field_status)
        %th=l(:field_author)
        %th=l(:field_assigned_to)
        %th=l(:field_start_date)
        %th=l(:field_due_date)
        %th=l(:field_updated_on)
        %th
    %tbody
      - issues.each do |issue|
        %tr{:id => "issue-#{h(issue.id)}", :class => [cycle('odd', 'even'), issue.css_classes].join(" ")}
          %td.id
            = link_to(h(issue.id), {:controller => 'issues', :action => 'show', :id => issue}, {:title => issue.tracker})
          %td.subject
            = link_to h(truncate(issue.subject, :length => 60)), {:controller => 'issues', :action => 'show', :id => issue}, :title => issue.tracker
          %td.status
            = h issue.status
          %td
            = link_to_user(issue.author)
          %td
            = link_to_user(issue.assigned_to)
          %td
            = format_date(issue.start_date)
          %td
            = format_date(issue.due_date)
          %td
            = format_date(issue.updated_on)
          %td
            = link_to(l(:button_update), edit_milestone_issue_path(issue), :class => 'icon icon-edit')
            = link_to(l(:button_delete), milestone_issue_path(issue, :back_url => url_for(params)), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del')
- else
  %p.nodata
    = l(:label_no_data)
