.contextual
  = link_to l(:button_delete), milestone_issue_path(@issue), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'

%h2
  = link_to l(:label_project_milestone_plural), :controller=> :project_milestones, :action => :index, :project_id => @project
  &#187;
  = l(:label_milestone_issue_edit)
  = link_to("##{@issue.id}", issue_path(@issue), :title => @issue.subject)

%form{:action => url_for(:action => :update, :id => @issue.id), :method => :put}
  = render :partial => 'form'
  = submit_tag l(:button_save)
  = link_to l(:button_cancel), issue_path(@issue)
